{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/mediumflame/mediumflame.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "size" : 1.0,
                "initial" : "drift",
                "rotation" : 0.14
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/mediumflame/mediumflame.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "size" : 1.0,
                "initial" : "drift",
                "rotation" : 0.14
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/smallflame/smallflame.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "size" : 1.0,
                "rotation" : 0.14
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/fireball_poof.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
